.conche/
example
tests
tests.swift
SpectreTests/Integration/Failing
SpectreTests/Integration/Failing-dot-output.txt
SpectreTests/Integration/Failing-output.txt
SpectreTests/Integration/Failing-tap-output.txt
SpectreTests/Integration/Passing
SpectreTests/Integration/Passing-dot-output.txt
SpectreTests/Integration/Passing-output.txt
SpectreTests/Integration/Passing-tap-output.txt
